@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply relative text-[#DCBB87] text-lg font-semibold;
  }

  .link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #dcbb87;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.6s ease;
    border-radius: 5px;
  }

  .link:hover::before {
    width: 100%;
  }
}